In [2]:
from Bio.PDB import PDBParser
from pymol import cmd
import os
import pandas as pd
from tqdm  import tqdm

In [70]:
a=[]
for i in range(20):
    a.append(pd.read_csv(f'/home/adamczykb/rnaquanet/data/00_reference/lociparse_train/train_f_{i}.csv'))

In [4]:
b=[]
for i in range(20):
    b.append(pd.read_csv(f'/home/adamczykb/rnaquanet/data/00_reference/lociparse_train/val_f_{i}.csv'))

In [75]:
final = pd.read_csv(f'/home/adamczykb/rnaquanet/data/00_reference/lociparse_train/train.csv')

In [77]:
final.loc[final['RMSD']<=15.,:]

,id,sequence,length,structure,chain_no,model,common_structure,ture_chain,RMSD,description,aligment
0,1EUY_1_33,GGGGUAUCGCCAAGCGGUAAGGCACCGGAUUCUGAUUCCGGCAAGC...,73,1EUY,1,33,1EUY_1,B,3.795521,1EUY_1_33/model.pdb,NaN
1,1AJU_1_26,GGCCAGAUUGAGCCUGGGAGCUCUCUGGCC,30,1AJU,1,26,1AJU_1,A,4.660446,1AJU_1_26/model.pdb,NaN
2,1F5U_1_12,GGUGGGAGACGUCCCACC,18,1F5U,1,12,1F5U_1,A,2.429003,1F5U_1_12/model.pdb,NaN
3,1EKZ_1_12,GGACAGCUGUCCCUUCGGGGACAGCUGUCC,30,1EKZ,1,12,1EKZ_1,B,1.670049,1EKZ_1_12/model.pdb,NaN
4,1ELH_1_11,UUGCCUGGCGGC,12,1ELH,1,11,1ELH_1,A,2.379190,1ELH_1_11/model.pdb,NaN
...,...,...,...,...,...,...,...,...,...,...,...
41331,7A3Y_2_5,CAGGAUAGCUGC,12,7A3Y,2,5,7A3Y_2,B,2.330511,7A3Y_2_5/model.pdb,NaN
41332,7CYQ_1_27,UGACUGCUCCCUAGCAUGCUACUACCG,27,7CYQ,1,27,7CYQ_1,J,5.897702,7CYQ_1_27/model.pdb,NaN
41333,7JL0_2_13,UCAGUCAGUCAGUC,14,7JL0,2,13,7JL0_2,Y,2.400953,7JL0_2_13/model.pdb,NaN
41334,7NWG_2_9,GUCUCCGUAGUGUAGGGUAUCACGUUCGCCUAACACGCGAAAGGUC...,74,7NWG,2,9,7NWG_2,q3,11.112440,7NWG_2_9/model.pdb,NaN
41335,6qx9_1_36,AUACUUACCUGGCAGGGGAGAUACCAUGAUCACGAAGGUGGUUUUC...,164,6qx9,1,36,6qx9_1,1,4.199222,6qx9_1_36/model.pdb,NaN

In [2]:
final_v = pd.read_csv(f'/home/adamczykb/rnaquanet/data/00_reference/lociparse_train/val_f.csv')

In [1]:
pd.concat(b, ignore_index=True).to_csv(f'')

NameError: name 'pd' is not defined

In [ ]:
# a=pd.read_csv('/home/adamczykb/rnaquanet/data/01_raw/lociparse_structures/train.csv')
# a.columns[:-1]
# a.loc[:,a.columns[:-1]].to_csv('/home/adamczykb/rnaquanet/data/01_raw/lociparse_structures/train.csv')

In [7]:
a=pd.read_csv('/home/adamczykb/rnaquanet/data/01_raw/lociparse_structures/train.csv')
#

In [9]:
a.loc[a['id'].isin(['1FJE_1_4','1FEU_2_7'])]

,Unnamed: 0,id,sequence,length,structure,chain_no,model,common_structure,ture_chain,RMSD,description
2068,2068,1FJE_1_4,GGCCGAAAUCCCGAAGUAGGCC,22,1FJE,1,4,1FJE_1,A,4.087117,1FJE_1_4/model.pdb